@media (max-width: 1300px) {
    .secondSection{
        height: 50vh;
    }
    .secondSection .vertical{
        margin: 0 200px 0 0;
    }
    .thirdsection{
        margin: 25px auto;
        height: 65vh;
    }
}
@media (max-width: 1190px) {
    .firstSection{
        width: 100%;
    }
    .firstSection > div{
        width: 50%;
    }
    .leftSection{
        font-size: 1.8rem;
    }
    .rightSection{
        display: flex;
        justify-content: flex-end;
    }
    .secondSection{
        height: fit-content;
    }
    .secondSection .box{
        flex-direction: column;
        height: 100%;
        width: 2px;
        position: relative;
        left: 70px;
    }
    .secondSection .vertical{
        height: 2px;
        width: 50px;
        margin: 0 0 180px 0;
    }
    .vertical-title{
        top: -40px;
        left: 60px;
        width: 200px;
    }
    .vertical-desc{
        top: -30px;
        left: 60px;
    }
    .image-top{
        left: -35px;
        top: 0;
    }
    .thirdsection{
        height: fit-content;
    }
    .card-info{
        height: fit-content;
    }
    .card-info .card-intro{
        width: 25%;
    }
    .card-info .card-intro img{
        width: 100%;
    }
    .card-info .card-description{
        width: 65%;
        font-size: 14px;

    }
    .certificate-container{
        grid-template-columns: auto;
    }
    .contact-container{
        flex-direction: column;
        padding: 50px;
    }
    .contact-container .contactinfo{
        margin-bottom: 40px;
    }
    .contact-container .contactform,
    .contact-container .contactinfo{
        width: 70%;
    }
}
@media (max-width: 820px)  {
    .secondSection,
    .thirdsection,
    .fourthsection,
    .fifthsection{
        max-width: 100%;
    }
    .bubbles span{
        height: 25px;
        width: 25px;
        margin: 0 4px;
    }
    .bubbles span:nth-child(10),
    .bubbles span:nth-child(12),
    .bubbles span:nth-child(14){
        display: none;
    }
    .call-to-action{
        flex-direction: column;
        align-items: center;
    }
    .cta-btn{
        margin-right: 0;
        margin-top: 15px;
    }
    .card-info .card-description{
        width: 70%;
        line-height: 16px;
        
    }
    .card-info::before{
        height: 20vh;
        width: 95vw;
    }
    .contact-container .contactform,
    .contact-container .contactinfo{
        width: 100%;
    }
}
@media (max-width: 768px){
    .hamburger{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;
        width: 27px;
        transition: all 0.5s ease-in-out;
    }
    .line{
        width: 27px;
        height: 3px;
        background: #fefefe;
        border-radius: 4px;
        transition: all 0.5s ease-in-out;
    }
    .line::before,
    .line::after{
        content: '';
        position: absolute;
        width: 27px;
        height: 3px;
        background: #fefefe;
        border-radius: 4px;
        transition: all 0.5s ease-in-out;
    }
    .line::before{
        transform: translateY(-8px);
    }
    .line::after{
        transform: translateY(8px);
    }
    .hamburger.open .line{
        transform: translateX(-10px);
        background: transparent;
    }
    .hamburger.open .line::before{
        transform: rotate(45deg) translate(5px, -5px);
    }
    .hamburger.open .line::after{
        transform: rotate(-45deg) translate(5px, 5px);
    }
    nav{
        justify-content: space-between;
        padding: 0 10px;
    }
    .right{
        position: absolute;
        left: 0;
        right: 0;
        top: 80px;
        width: 100%;
        overflow: hidden;
        height: 0vh;
        background-color: #12123e;
        z-index: 1;
        transition: 0.5s;
    }
    .right.active{
        height: 50vh;
    }
    .right.active ul{
        opacity: 1;
    }
    .right ul{
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        opacity: 0;
        transition: 1s;
    }
    .right ul li{
        margin: 50px 0;
    }
    .firstSection{
        margin: 80px auto;
        flex-direction: column-reverse;
        max-width: 100vw;
    }
    .rightSection img{
        width: 100%;
    }
    .leftSection{
        margin-top: 25px;
        font-size: 1.5rem;
        font-weight: 600;
    }
    
}
@media (max-width: 500px) {
    :root{
        --phone-height: calc(--bubble-height*1.25);
    }
    .firstSection{
        height: 85vh;
    }
    .firstSection > div{
        width: 80%;
    }
    .rightSection{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .rightSection img{
        width: 75%;
    }
    .leftSection{
        height: 34vh;
        margin-top: -5px;
    }
    .right ul li{
        margin: 40px 0;
    }
    .call-to-action{
        height: 16vh;
    }
    .modal{
        max-width: 100%;
        width: 90vw;
        height: 85vh;
        overflow-y: scroll;
    }
    .modal-body{
        padding: 10px;
    }
    .modal-header-title{
        font-size: 1rem;
        font-weight: 600;
    }
    .close{
        font-size: 2rem;
    }
    .modal-body .opener{
        margin-bottom: 8px;
        font-size: 13px;
        font-weight: bold;
    }
    .modal-body .opener-para{
        margin: 0;
        font-size: 13px;
        padding: 8px;
        font-weight: 500;
    }
    .modal-body .closer{
        margin-top: 8px;
        font-size: 13px;
        font-weight: bold;
    }
    .bubbles span{
        height: 14px;
        width: 14px;
        margin: 0 12px;
        animation-duration: calc(180s/var(--i));
    }
    .bubbles span:nth-child(11),
    .bubbles span:nth-child(18),
    .bubbles span:nth-child(21),
    .bubbles span:nth-child(25),
    .bubbles span:nth-child(24),
    .bubbles span:nth-child(27),
    .bubbles span:nth-child(30),
    .bubbles span:nth-child(8),
    .bubbles span:nth-child(15),
    .bubbles span:nth-child(22),
    .bubbles span:nth-child(2),
    .bubbles span:nth-child(23),
    .bubbles span:nth-child(3),
    .bubbles span:nth-child(4),
    .bubbles span:nth-child(5),
    .bubbles span:nth-child(6),
    .bubbles span:nth-child(19),
    .bubbles span:nth-child(17),
    .bubbles span:nth-child(26)
    {
        display: none;
    }
    .skill-name{
        text-transform: none;
    }
    .card-info{
        flex-direction: column;
        height: fit-content;
    }
    .card-info::before{
        height: 30vh;
        width: 200vw;
    }
    .card-info .card-description{
        line-height: 18px;
        width: 100%;
    }
    .card-info .card-intro{
        width: 80%;
        text-align: center;
    }
    .card-info .card-intro img{
        width: 85%;
    }
    .grid-item{
        width: 300px;
    }
    .grid-item .desc{
        height: 70%;
    }
    .grid-item .desc h3{
        font-size: 18px;
    }
    .gray,
    .general-headings{
        text-align: center;
    }
    .gray{
        display: block;
        font-size: 14px;
    }
    .contact-container{
        align-items: flex-start;
        padding: 0;
    }
    @keyframes bubbles {
        0%{
            transform: scale(0);
            top: 140vh; 
        }
        100%{
            transform: scale(1);
            top: 10vh; 
        }
        
    }
}
